name: jkgsoa8uenf

on:
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout del c贸digo
        uses: actions/checkout@v3

      - name:  Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 锔 Configurar Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21' # O la versi贸n que necesites

      - name:  Ejecutar script de compilaci贸n y ejecuci贸n
        run: |
          chmod +x compile_and_run.sh  # Asegurar que el script es ejecutable
          ./compile_and_run.sh
